table {
          width: 100%;
          border-collapse: collapse;
        }
        
        th, td {
          border: 1px solid black;
          padding: 8px;
          text-align: center;
        }
        
        th {
          background-color: red;
          color: white;
        }
        
        tr:nth-child(odd) {
          background-color: lightgray;
        }
        .mark {
            background-color: aqua;
        }
        td:nth-child(2) {
            font-weight: bold;
        }
        td:first-child {
            font-style: italic;
        }