.navigation-bar {
    background-color: rgb(220, 217, 217);
    padding: 10px;
    border-bottom: 2px solid black;
}
.navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navigation-bar li {
    float: left;
}
.navigation-bar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation-bar li a:hover {
    background-color: aliceblue;
    border-radius: 12%;
}