.box {
   border: 1px solid black;
   padding: 10px;
}
.s1 p {
    color: red !important;
}
.important {
    color: rgb(227, 3, 160) !important;
}
.s3 p {
    color: green !important;
}
.important1 {
    color: navy;
}