.headline {
    display: flex;
    justify-content: center;
}
.box-shadow1 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 240, 253);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.box-shadow2 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 240, 253);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.box-shadow3 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 240, 253);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}
.box-shadow4 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 240, 253);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}
.box-shadow5 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 240, 253);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), -2px -2px 4px rgba(0, 0, 0, 0.3);
}