.headline {
    display: flex;
    justify-content: center;
}
.box-1 {
    width: 200px;
    height: 200px;
    background-color: rgb(209, 168, 91);
    transform: rotate(45deg);
    margin: 80px;
}
.box-2 {
    width: 200px;
    height: 200px;
    background-color: rgb(185, 91, 209);
    transform: translate(50px, 50px);
    margin: 80px;
}
.box-3 {
    width: 200px;
    height: 200px;
    background-color: rgb(209, 91, 91);
    transform: scale(0.5);
    margin: 80px;
}
.box-4 {
    width: 200px;
    height: 200px;
    background-color: rgb(91, 201, 209);
    transform: skew(30deg, 20deg);
    margin: 80px;
}
.box-5 {
    width: 200px;
    height: 200px;
    background-color: rgb(209, 91, 120);
    transform: rotateX(45deg);
    margin: 80px;
}