.headline {
    display: flex;
    justify-content: center;
}
.flex-container1 {
    display: flex;
    border: 2px solid black;
}
.flex-items1 {
    color: white;
    background-color: navy;
    padding: 20px;
    margin: 10px;
}
.flex-container2 {
    display: flex;
    border: 2px solid black;
}
.flex-items2 {
    color: white;
    background-color: navy;
    padding: 20px;
    margin: 10px;
}