.headline {
    display: flex;
    justify-content: center;
}
.flex-container1 {
    display: flex;
    align-items: center;
    min-height: 300px;
    border: 2px solid black;
}
.flex-items1 {
    align-self: flex-start;
    color: aliceblue;
    background-color: coral;
    padding: 20px;
    margin: 10px;
}
.flex-container2 {
    display: flex;
    align-items: center;
    min-height: 300px;
    border: 2px solid black;
}
.flex-items2 {
    align-self: flex-end;
    color: aliceblue;
    background-color: coral;
    padding: 20px;
    margin: 10px;
}
.flex-container3 {
    display: flex;
    align-items: center;
    min-height: 300px;
    border: 2px solid black;
}
.flex-items3 {
    align-self: center;
    color: aliceblue;
    background-color: coral;
    padding: 20px;
    margin: 10px;
}
.flex-container4 {
    display: flex;
    align-items: center;
    min-height: 300px;
    border: 2px solid black;
}
.flex-items4 {
    align-self: stretch;
    color: aliceblue;
    background-color: coral;
    padding: 20px;
    margin: 10px;
}