.headline {
    display: flex;
    justify-content: center;
}
.flex-container1 {
    display: flex;
    align-items: center;
    min-height: 300px;
    border: 2px solid black;
}
.flex-items1 {
    
}