.headline {
    display: flex;
    justify-content: center;
}
.grid-container1 {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 100px) ;
}
.grid-container1 div {
    padding: 10px;
    background-color: rgb(253, 170, 211);
    border: 1px solid #5b5454;
}
.grid-container2 {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: repeat(3, 100px) ;
}
.grid-container2 div {
    padding: 10px;
    background-color: rgb(253, 170, 211);
    border: 1px solid #5b5454;
}
.grid-container3 {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr)) ;
}
.grid-container3 div {
    padding: 10px;
    background-color: rgb(253, 170, 211);
    border: 1px solid #5b5454;
}
.grid-container4 {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(3, 100px) ;
}
.grid-container4 div {
    padding: 10px;
    background-color: rgb(253, 170, 211);
    border: 1px solid #5b5454;
}